html {
  background-color: #0a2a37;
  font-size: 16px;
  margin: 1rem;
}

body {
  width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6,
li,
img,
p {
  color: azure;
}

h1, h2 {
  text-shadow: grey;
  font-variant: small-caps;
  font-size: 3rem;
}

h4 {
  text-shadow: grey;
  font-size: 1.5rem;
}

a, Link {
  color: lightgoldenrodyellow;
  font-weight: 700;
  text-decoration: none;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  transition: 2s;
}

a:hover {
  padding: 1px;
  -webkit-stroke-width: 6px;
  -webkit-stroke-color: #061013;
  -webkit-fill-color: #ffffff;
  color: #b1faff;
  text-shadow: 2px 0 20px rgb(174, 226, 247);
}
