html {
  background-color: #0a2a37;
  font-size: 16px;
  width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: azure;
  width: 100%;
  margin: 1rem;
}

h1, h2 {
  text-shadow: grey;
  font-variant: small-caps;
  font-size: 3rem;
}

h4 {
  text-shadow: grey;
  font-size: 1.5rem;
}

a {
  color: whitesmoke;
  font-weight: 700;
  text-decoration: none;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  transition: 2s;
}

a:hover {
  padding: 1px;
  -webkit-stroke-width: 6px;
  -webkit-stroke-color: #061013;
  -webkit-fill-color: #ffffff;
  color: blanchedalmond;
  text-shadow: 2px 0 20px rgb(174, 226, 247);
}
